@{
    ViewData["Title"] = "Movies Page";
}
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="~/css/thumbnail-gallery.css">
<a href="/logout">Logout</a>
    <main role="main">
        <div class="container gallery-container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Movies</h1>
                <div class="container">
                    <form class="form-signin" action="/addMovie" method="post">
                    <label for="inputMovie" class="sr-only">Movie Title</label>
                    <input name="movie" type="text" id="inputMovie" class="form-control" placeholder="Movie Title" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add a Movie!</button>
                    </form>
                </div>
            </div>
        </section>
            <div class="tz-gallery">
                <div class="row">
                    @foreach(var Movie in @ViewBag.AllMovies)
                    {
                        var skip = false;
                        foreach(var Fav in @ViewBag.FavMovies)
                        {
                            if (Movie.idmovies == Fav.idmovies)
                            {
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <a class="lightbox" href="@Movie.poster">
                                            <img src="@Movie.poster">
                                        </a>
                                        <div class="caption">
                                            <p class="card-text">@Movie.title</p>
                                            <p class="card-text">Rating: @Movie.rating/10</p>
                                            <p class="card-text">Released: @Movie.released.ToString("MM/dd/yyyy")</p>
                                            <form action="/unfavorite/@Movie.idmovies/@ViewBag.userID" method="POST">
                                                <input class="btn btn-primary" type="submit" value="UnFavorite">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                skip = true;
                            }
                        }
                        if (!skip)
                        {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="lightbox" href="@Movie.poster">
                                    <img src="@Movie.poster">
                                </a>
                                <div class="caption">
                                    <p class="card-text">@Movie.title</p>
                                    <p class="card-text">Rating: @Movie.rating/10</p>
                                    <p class="card-text">Released: @Movie.released.ToString("MM/dd/yyyy")</p>
                                    <form action="/favorite/@Movie.idmovies/@ViewBag.userID" method="POST">
                                        <input class="btn btn-primary" type="submit" value="Favorite">
                                    </form>
                                </div>
                            </div>
                        </div>
                        }
                    }   
                </div>
            </div>
        </div>
    </main>
</div>